/*版心公共类*/
.w {
    width: 1190px;
    margin: auto;
}

body {
    background-color: #f0f3ef;
}

/*浮动公共类*/
.fl {
    float: left;
}

.fr {
    float: right;
}

ul {
    margin: 0px;
    padding: 0px;
}

i {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input button {
    margin: 0px;
    padding: 0px;
}

img{
    vertical-align: top;
}
.style-red {
    color: #f10215 !important;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table; /* 这句话可以出发BFC BFC可以清除浮动,BFC我们后面讲 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

h1, h5, p {
    margin: 0px;
    padding: 0px;
}

* {
    padding: 0px;
    margin: 0px;

}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?5yc887');
    src: url('../fonts/icomoon.eot?5yc887#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5yc887') format('truetype'),
    url('../fonts/icomoon.woff?5yc887') format('woff'),
    url('../fonts/icomoon.svg?5yc887#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*京东顶部开始*/
.J_event {
    background-color: #000;
}

.J_event a {
    height: 80px;
    display: block;
    background: url("../images/top.jpg") no-repeat;
    position: relative;
}

.J_event a i {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 0px;
    font-style: normal;
    font-family: "icomoon";
    line-height: 25px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    background-color: rgba(0, 0, 0, .4);
}

/*京东顶部结束*/
/*快捷导航模块制作开始*/
.shortcut {
    height: 30px;
    background-color: #E3E4E5;
    border-bottom: 1px solid #DDDDDD;
    line-height: 30px;
    font-size: 12px;
}

.pos {
    font-style: normal;
    font-family: "icomoon";
    color: #f10215;
    font-size: 14px;
}

.shortcut .fl li {
    margin-left: 205px;
    height: 30px;
}

.shortcut .fr li {
    float: left;

}

.shortcut .fr li a {
    text-decoration: none;
    color: #999;
}

.shortcut .fr li a:hover {
    color: #e33333;
}

.spacer {
    width: 1px;
    height: 10px;
    background-color: #ccc;
    margin: 11px 5px 0px;
}

.dorpdown {
    padding-right: 15px;
    position: relative;
}

.dorpdown i {
    font-family: "icomoon";
    font-style: normal;
    position: absolute;
    top: -2px;
    right: -2px;
    font-size: 16px;
}

.phoneJd {
    position: relative;
    z-index: 1;
}

.qrCode {
    width: 60px;
    height: 60px;
    position: absolute;
    padding: 3px;
    border: 1px solid #ccc;
    right: -8px;
    top: 35px;

}

/*快捷导航模块制作结束*/
/*heard部分开始*/
.heard {
    height: 140px;
}

.inner {
    height: 140px;
    position: relative;
}

.logo a {
    width: 190px;
    height: 170px;
    display: block;
    text-indent: -99999em;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 190px;
    height: 170px;
    top: -29.5px;
    left: 0px;
    background: url("../images/logo.jpg") no-repeat;
    box-shadow: 0 -12px 10px rgba(0, 0, 0, .2);
}

/*搜索开始*/
.search {
    width: 550px;
    height: 35px;
    background-color: purple;
    position: absolute;
    top: 25px;
    left: 320px;
}

.search input {
    width: 492px;
    height: 33px;
    outline: none;
    padding-left: 5px;
    float: left;
    border: 1px solid #f10215;
}

.search button {
    width: 50px;
    height: 35px;
    float: left;
    background-color: #f10215;
    padding: 0px;
    border: none;
    cursor: pointer;
}

.search button i {
    font-family: "icomoon";
    color: white;
    font-style: normal;
    font-size: 16px;

}

.search em {
    position: absolute;
    background: url("../images/sprite-search.png") no-repeat;
    width: 19px;
    height: 15px;
    top: 10px;
    right: 65px;
    cursor: pointer;
}

.search em:hover {
    background-position: -29.5px 0;
}

/*搜索结束*/
/*热词开始*/
.hotwords {
    position: absolute;
    top: 70px;
    left: 320px;
}

.hotwords a {
    color: #9E9B99;
    font-size: 12px;
}

.hotwords a:hover {
    color: #f10215;
}

/*热词结束*/
/*购物车*/
.mycar {
    width: 188px;
    height: 33px;
    border: 1px solid #ccc;
    position: absolute;
    top: 25px;
    right: 100px;
    text-align: center;
    line-height: 33px;
}

.mycar a {
    font-size: 12px;
    color: #f10215;
}

.mycar i {
    font-family: "icomoon";
    color: #f10215;
    margin-right: 5px;
}

.mycar s {
    position: absolute;
    top: 5px;
    left: 140px;
    text-decoration: none;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    background-color: #f10215;
    padding: 0 3px;
    border-radius: 7px;
    color: #fff;
}

.computer {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.navitems {
    position: absolute;
    left: 200px;
    bottom: 0;
}

.navitems ul {
    float: left;
}

.navitems ul li {
    float: left;
    margin-left: 30px;
}

.navitems a {
    color: #555A5F;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
}

.navitems a:hover {
    color: red;
}

.navitems .spacer {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: -10px;
}

/*heard部分结束*/
/*footer开始*/
.footer {
    height: 560px;
    background-color: #EAEAEA;
}

.footer-service {
    border-bottom: 1px solid #DEDEDE;
}

.footer-service-inner {
    padding: 30px 0px;
}

.footer-service-inner li {
    float: left;
    width: 297px;
    height: 42px;
}

.service_unit {
    width: 225px;
    height: 42px;
    margin: 0 auto;
}

.service_unit h5 {
    width: 36px;
    height: 42px;
    float: left;
    background: url("../images/ico_service.png") no-repeat;
    text-indent: -999px;
    overflow: hidden;
}

.service_unit p {
    float: left;
    line-height: 42px;
    margin-left: 5px;
    font-weight: 700;
}

h5.kuai {
    background-position: 0px -44px;
}

h5.hao {
    background-position: 0px -86px;
}

h5.sheng {
    background-position: 0px -128px;
}

.help {
    height: 180px;
    padding-top: 20px;
    border-bottom: 1px solid #ccc;
}
.help dl {
    float: left;
    width: 195px;
}
.help dt{
    font-size: 14px;
    font-weight: 700;
    height: 30px;
}
.help dd{
    height: 22px;
}
.help dd a{
    color: #727272;
    font-size: 12px;
}
.help dd a:hover {
    color: #f10215;
}

.help .cover {
    float: right;
    width: 207px;
    height: 150px;
    background: url(../images/ico_footer.png) no-repeat;
}
.cover dt {
    text-align: center;
}
.help .info{
    height: 50px;
    width: 175px;
    font-size: 12px;
    line-height:18px;
    margin-top: 5px;
    color: #727272;
    margin-left:10px;
}
.more{
    padding-top: 2px;
    text-align: right;
}
/* 版权模块 */
.copyright {
    border-top: 1px solid #ccc;
    padding-top: 15px;
}
.links {
    text-align: center;
}
.links a {
    color: #727272;
    font-size: 12px;
}
.links span {
    font-size: 12px;
    color: #D4CDCD;
    margin: 0 6px;
}
.c-info {
    font-size: 12px;
    color: #9E9E9B;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
}
.tupian {
    text-align: center;
    margin-top: 10px;
}
.tupian a{
    width: 103px;
    height: 32px;
    display: inline-block;
    background: url(../images/ico_footer.png) no-repeat 0 -151px;
}
.tupian .kexin {
    background-position: -104px -151px;
}