.jd {
    height: 480px;
    position: relative;
}

.jd-inner {
    height: 480px;
    position: relative;
    z-index: 1;
}

.ad {
    height: 480px;
    background: url("../images/bg.png") no-repeat top center;
    top: 0px;
    left: 0px;
    width: 100%;
    position: absolute;
}

.ad a {
    display: block;
    width: 100%;
    height: 100%;
}

.jd-col1 {
    width: 190px;
    height: 480px;
    background-color: #6E6568;
    float: left;
}

.jd-col1 ul {
    margin-top: 15px;
}

.jd-col1 li {
    padding-left: 10px;
    height: 28px;
    line-height: 28px;
}

.jd-col1 li:hover {
    color: red;
    background-color: #999395;
}

.jd-col1 span {
    color: white;
    font-size: 12px;
}

.jd-col1 a {
    color: white;
    font-size: 14px;
}

.jd-col1 a:hover {
    color: red;
}

.jd-col2 {
    width: 790px;
    height: 480px;
    float: left;
    margin-left: 10px;
}

.jd-col2-bd div {
    margin-top: 10px;
    width: 390px;
    height: 130px;
    float: left;
}
.jd-col2-bd img{
    width: 100%;
}
.firstPic{
    margin-right:10px;
}
.jd-col2-hd{
    position: relative;
    height: 340px;
}
.arr-l,.arr-r{
    position: absolute;
    width: 30px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height:60px;
    color: #fff;
    font-size: 25px;
}
.arr-l{
    left: 0px;
}
.arr-r{
   right: 0px;
}
.jd-col2-hd ol{
    width: 180px;
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -90px;
    background: rgba(255, 255,255, 0.3);
    border-radius: 10px;
}

.jd-col2-hd ol ul{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px 5px;
    cursor: pointer;
}
.jd-col2-hd .current{
    background-color: #f10215;
}

.jd-col3 {
    width: 190px;
    height: 480px;
    float: right;
}
.jd-col3  a{
    font-size: 12px;
    color: #747474;
}

.user {
    height: 95px;
    padding: 20px 15px 0;
}


.user-info{
    height: 40px;
    padding-left: 54px;
    font-size: 12px;
    color: #747474;
    line-height: 22px;
    position: relative;

}

.user-info a{
    color: #747474;
}
.user-info a:hover{
    color: #f10215;
}
.user-info-img{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
}
.user-info-img img{
    width: 100%;
    height:auto;
}

.user-profit {
    margin-top: 14px;
}

.user-profit a{
    width: 70px;
    height: 20px;
    display: inline-block;
    border: 2px solid #f10215;
    text-align: center;
    color: #f10215;
    font-size: 12px;
    line-height: 20px;
    margin-right: 4px;
}

.user-profit a:hover{
    color: #fff;
    background-color: #f10215;
}

.news {
    height: 149px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px 0;
}

.tab-hd {
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    position: relative;
}
.tab-hd a{
    margin: 0 4px ;
}
.cuxiao {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.news .more1 {
    position: absolute;
    top: 6px;
    right: 0;

}
.line {
    width: 28px;
    height: 2px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.tab-bd {
    margin-top: 10px;
}
.tab-bd li {
    height: 23px;
    line-height: 23px;
}

.jd-service  {
    height: 209px;
    /* background-color: skyblue; */
    width: 190px;
    overflow: hidden;
}
.jd-service  ul {
    width: 195px;
}
.jd-service li {
    width: 47px;
    height: 69px;
    /* background-color: purple; */
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.jd-service li a {
    width: 100%;
    height: 100%;  /* 根据父亲 */
    /* height: auto; 针对于自己的高度和宽度 */
    display: block;
}
.jd-service  i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto 8px;
    background: url(../images/sprite_fs@1x.png) no-repeat;
}
.jd-service  p {
    text-align: center;
}

